[package]
name = "infrastructure"
version = "0.1.0"
edition = "2021"

[dependencies]
shared = { path = "../shared" }
sqlx = { workspace = true }
log = { workspace = true }
thiserror = { workspace = true }
async-trait = { workspace = true }
tokio = { workspace = true }
chrono = { workspace = true }
